.card-title {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 8px;
}

ion-card {
  position: relative;
  text-align: center;
  border-radius: 15px;
}

img {
  width: 100%;
}

.desc {
  margin: 50px;
}
