// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --ion-color-mycolor: #5390df;
  --ion-color-mycolor-rgb: 83, 144, 223;
  --ion-color-mycolor-contrast: #ffffff;
  --ion-color-mycolor-contrast-rgb: 255, 255, 255;
  --ion-color-mycolor-shade: #497fc4;
  --ion-color-mycolor-tint: #649be2;
}

.ion-color-mycolor {
  --ion-color-base: var(--ion-color-mycolor);
  --ion-color-base-rgb: var(--ion-color-mycolor-rgb);
  --ion-color-contrast: var(--ion-color-mycolor-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mycolor-contrast-rgb);
  --ion-color-shade: var(--ion-color-mycolor-shade);
  --ion-color-tint: var(--ion-color-mycolor-tint);
}
